In [85]:
import pandas as pd
from bokeh.plotting import figure, output_file, save
from bokeh.models import ColumnDataSource

In [65]:
output_file("../src/html/attainment.html")

In [15]:
df = pd.read_csv("../src/data/table-1-1-mf.csv")
grouped = df.set_index("Age Group")
grouped

           None  1st - 4th grade  ...  Professional degree  Doctoral degree
Age Group                         ...
18-24        66               57  ...                   14               28
25-29        72               41  ...                  171              221
30-34        42               77  ...                  360              461
35-39        63              118  ...                  299              530
40-44        76              107  ...                  330              455
45-49        75              114  ...                  313              484
50-54        62              102  ...                  295              393
55-59        54              151  ...                  266              370
60-64        65              140  ...                  329              375
65-69        68              121  ...                  262              404
70-74        55              143  ...                  240              405
75+         137              298  ...                  271              431

[12 rows x 15 columns]

In [17]:
cds = ColumnDataSource(grouped)
cds

ColumnDataSource(id='1158', ...)

In [51]:
cds.data["1st - 4th grade"]

array([ 57,  41,  77, 118, 107, 114, 102, 151, 140, 121, 143, 298])

In [75]:
age_groups = cds.data["Age Group"]
data = {'Age Group' : age_groups,
        "None" : cds.data["None"],
        "1st - 4th grade": cds.data["1st - 4th grade"],
        "5th - 6th grade": cds.data["5th - 6th grade"],
        "9th grade": cds.data["9th grade"],
        "10th grade": cds.data["10th grade"],
        "11th grade": cds.data["11th grade"],
        "High school graduate": cds.data["High school graduate"],
        "Some college, no degree": cds.data["Some college, no degree"],
        "Associate's degree, occupational": cds.data["Associate's degree, occupational"],
        "Associate's degree, academic": cds.data["Associate's degree, academic"],
        "Bachelor's degree": cds.data["Bachelor's degree"],
        "Master's degree": cds.data["Master's degree"],
        "Professional degree": cds.data["Professional degree"],
        "Doctoral degree": cds.data["Doctoral degree"]
}
colors = [ "#066595", "#d6704f", "#70e0e9", "#766a45", "#8bb21d", "#984379", "#984379", "#4e7839", "#60c7ab", "#abac85", "#abac85", "#e52e45", "#e52e45", "#234c56", "#bd0466" ]
attainments = [
        "None",
        "1st - 4th grade",
        "5th - 6th grade",
        "7th - 8th grade",
        "9th grade",
        "10th grade",
        "11th grade",
        "High school graduate",
        "Some college, no degree",
        "Associate's degree, occupational",
        "Associate's degree, academic",
        "Bachelor's degree",
        "Master's degree",
        "Professional degree",
        "Doctoral degree"
]

In [76]:
data.keys() - 'Age Group'

{'10th grade',
 '11th grade',
 '1st - 4th grade',
 '5th - 6th grade',
 '9th grade',
 'Age Group',
 "Associate's degree, academic",
 "Associate's degree, occupational",
 "Bachelor's degree",
 'Doctoral degree',
 'High school graduate',
 "Master's degree",
 'None',
 'Professional degree',
 'Some college, no degree'}

In [119]:
p = figure(x_range=age_groups, plot_height=450, plot_width=800, title="Educational Attainment by Age Group (USA, 2019)")
p.vbar_stack(attainments, x="Age Group", width=0.8, color=colors, source=data, legend_label=attainments)

[GlyphRenderer(id='16692', ...),
 GlyphRenderer(id='16708', ...),
 GlyphRenderer(id='16725', ...),
 GlyphRenderer(id='16744', ...),
 GlyphRenderer(id='16765', ...),
 GlyphRenderer(id='16788', ...),
 GlyphRenderer(id='16813', ...),
 GlyphRenderer(id='16840', ...),
 GlyphRenderer(id='16869', ...),
 GlyphRenderer(id='16900', ...),
 GlyphRenderer(id='16933', ...),
 GlyphRenderer(id='16968', ...),
 GlyphRenderer(id='17005', ...),
 GlyphRenderer(id='17044', ...),
 GlyphRenderer(id='17085', ...)]

In [111]:
p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.axis.minor_tick_line_color = None
p.outline_line_color = None
p.legend.location = "top_right"
p.legend.orientation = "horizontal"

In [120]:
save(p)

'/home/sam/Documents/Projects/Software/eduworld/eduworld/src/html/attainment.html'