In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../src/data/pupil_spending_teacher_salary/spending_and_salary.csv')

In [3]:
df

,State,Avg. Teacher Salary (2017),Spending Per Pupil (2016)
0,Alabama,51616,9944
1,Alaska,71126,18618
2,Arizona,49733,8405
3,Arkansas,51591,10442
4,California,82352,12683
5,Colorado,53793,10280
6,Connecticut,76061,20801
7,Delaware,63076,15543
8,District of Columbia,78071,23548
9,Florida,49166,9784
10,Georgia,57496,10723
11,Hawaii,59065,14948
12,Idaho,50245,7885
13,Illinois,67083,16196
14,Indiana,51663,10253
15,Iowa,58200,11957
16,Kansas,50785,10884
17,Kentucky,54049,10524
18,Louisiana,51403,11876
19,Maine,54930,15273
20,Maryland,71070,15586
21,Massachusetts,82022,18493
22,Michigan,63194,11748
23,Minnesota,58979,13188
24,Mississippi,45857,9137
25,Missouri,50326,11151
26,Montana,53870,12043
27,Nebraska,55336,13215
28,Nevada,55405,9519
29,New Hampshire,59031,16656
30,New Jersey,71366,20441
31,New Mexico,48129,10384
32,New York,85972,23861
33,North Carolina,52293,9389
34,North Dakota,53945,14369
35,Ohio,59202,13118
36,Oklahoma,47259,8267
37,Oregon,64368,11744
38,Pennsylvania,68935,16472
39,Rhode Island,68141,17346
40,South Carolina,51222,10874
41,South Dakota,48618,10560
42,Tennessee,51955,9651
43,Texas,54439,9936
44,Utah,50684,7521
45,Vermont,61811,20332
46,Virginia,53071,12405
47,Washington,56847,12494
48,West Virginia,46588,12258
49,Wisconsin,52536,12486
50,Wyoming,59561,17235

In [4]:
df.describe()

       Avg. Teacher Salary (2017)  Spending Per Pupil (2016)
count                   51.000000                  51.000000
mean                 58500.705882               13185.215686
std                   9998.893701                4004.372052
min                  45857.000000                7521.000000
25%                  51497.000000               10332.000000
50%                  54930.000000               12043.000000
75%                  63135.000000               15564.500000
max                  85972.000000               23861.000000

In [27]:
df.iloc[df['Avg. Teacher Salary (2017)'].idxmax()] # dataframe row at index of column's maximum value

State                         New York
Avg. Teacher Salary (2017)       85972
Spending Per Pupil (2016)        23861
Name: 32, dtype: object

In [28]:
df.iloc[df['Spending Per Pupil (2016)'].idxmax()]

State                         New York
Avg. Teacher Salary (2017)       85972
Spending Per Pupil (2016)        23861
Name: 32, dtype: object

In [40]:
by_spending = df.sort_values(by='Spending Per Pupil (2016)')
by_salary = df.sort_values(by='Avg. Teacher Salary (2017)')

In [41]:
by_salary

,State,Avg. Teacher Salary (2017),Spending Per Pupil (2016)
24,Mississippi,45857,9137
48,West Virginia,46588,12258
36,Oklahoma,47259,8267
31,New Mexico,48129,10384
41,South Dakota,48618,10560
9,Florida,49166,9784
2,Arizona,49733,8405
12,Idaho,50245,7885
25,Missouri,50326,11151
44,Utah,50684,7521
16,Kansas,50785,10884
40,South Carolina,51222,10874
18,Louisiana,51403,11876
3,Arkansas,51591,10442
0,Alabama,51616,9944
14,Indiana,51663,10253
42,Tennessee,51955,9651
33,North Carolina,52293,9389
49,Wisconsin,52536,12486
46,Virginia,53071,12405
5,Colorado,53793,10280
26,Montana,53870,12043
34,North Dakota,53945,14369
17,Kentucky,54049,10524
43,Texas,54439,9936
19,Maine,54930,15273
27,Nebraska,55336,13215
28,Nevada,55405,9519
47,Washington,56847,12494
10,Georgia,57496,10723
15,Iowa,58200,11957
23,Minnesota,58979,13188
29,New Hampshire,59031,16656
11,Hawaii,59065,14948
35,Ohio,59202,13118
50,Wyoming,59561,17235
45,Vermont,61811,20332
7,Delaware,63076,15543
22,Michigan,63194,11748
37,Oregon,64368,11744
13,Illinois,67083,16196
39,Rhode Island,68141,17346
38,Pennsylvania,68935,16472
20,Maryland,71070,15586
1,Alaska,71126,18618
30,New Jersey,71366,20441
6,Connecticut,76061,20801
8,District of Columbia,78071,23548
21,Massachusetts,82022,18493
4,California,82352,12683
32,New York,85972,23861

In [42]:
by_spending

,State,Avg. Teacher Salary (2017),Spending Per Pupil (2016)
44,Utah,50684,7521
12,Idaho,50245,7885
36,Oklahoma,47259,8267
2,Arizona,49733,8405
24,Mississippi,45857,9137
33,North Carolina,52293,9389
28,Nevada,55405,9519
42,Tennessee,51955,9651
9,Florida,49166,9784
43,Texas,54439,9936
0,Alabama,51616,9944
14,Indiana,51663,10253
5,Colorado,53793,10280
31,New Mexico,48129,10384
3,Arkansas,51591,10442
17,Kentucky,54049,10524
41,South Dakota,48618,10560
10,Georgia,57496,10723
40,South Carolina,51222,10874
16,Kansas,50785,10884
25,Missouri,50326,11151
37,Oregon,64368,11744
22,Michigan,63194,11748
18,Louisiana,51403,11876
15,Iowa,58200,11957
26,Montana,53870,12043
48,West Virginia,46588,12258
46,Virginia,53071,12405
49,Wisconsin,52536,12486
47,Washington,56847,12494
4,California,82352,12683
35,Ohio,59202,13118
23,Minnesota,58979,13188
27,Nebraska,55336,13215
34,North Dakota,53945,14369
11,Hawaii,59065,14948
19,Maine,54930,15273
7,Delaware,63076,15543
20,Maryland,71070,15586
13,Illinois,67083,16196
38,Pennsylvania,68935,16472
29,New Hampshire,59031,16656
50,Wyoming,59561,17235
39,Rhode Island,68141,17346
21,Massachusetts,82022,18493
1,Alaska,71126,18618
45,Vermont,61811,20332
30,New Jersey,71366,20441
6,Connecticut,76061,20801
8,District of Columbia,78071,23548
32,New York,85972,23861