In [1]:
from bokeh.plotting import figure, output_file, save

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/sam/Documents/Projects/Software/eduworld/eduworld/src/data/spending2018/2018_spending_by_state_elementary_secondary.csv')

In [5]:
p = figure(plot_width=400, plot_height=400)

                   State     Total
0                Alabama   8155523
1                 Alaska   2539488
2                Arizona   8656253
3               Arkansas   5625843
4             California  91054455
5               Colorado  11561312
6            Connecticut  10851095
7               Delaware   2098148
8   District of Columbia   1547292
9                Florida  29838546
10               Georgia  20988208
11                Hawaii   3070859
12                 Idaho   2410373
13              Illinois  35033057
14               Indiana  11836660
15                  Iowa   6958710
16                Kansas   6907549
17              Kentucky   8580534
18             Louisiana   8079072
19                 Maine   2877061
20              Maryland  14920717
21         Massachusetts  17889700
22              Michigan  18975838
23             Minnesota  13875489
24           Mississippi   4773606
25              Missouri  10864199
26               Montana   2048275
27              Nebraska   4684483
28                Nevada   5045173
29         New Hampshire   3125315
30            New Jersey  30480796
31            New Mexico   3636084
32              New York  73368427
33        North Carolina  15153240
34          North Dakota   1841875
35                  Ohio  24805833
36              Oklahoma   6267595
37                Oregon   8661035
38          Pennsylvania  31531702
39          Rhode Island   2501593
40        South Carolina  10027593
41          South Dakota   1655222
42             Tennessee  10811478
43                 Texas  65202332
44                  Utah   5556089
45               Vermont   1570861
46              Virginia  17367248
47            Washington  18042261
48         West Virginia   3345139
49             Wisconsin  12465177
50               Wyoming   1727633