In [1]:
import pandas as pd

In [27]:
states_total = pd.read_csv('/Users/macuser/Documents/Projects/Programming/eduworld/eduworld/src/data/states_gdp_total.csv')

In [28]:
df_existing = pd.read_csv('/Users/macuser/Documents/Projects/Programming/eduworld/eduworld/src/data/spending2018/2018_spending_by_state_elementary_secondary.csv')

In [29]:
df_existing.add(states_total)

    2018  2018 GDP GeoName State  Total
0    NaN       NaN     NaN   NaN    NaN
1    NaN       NaN     NaN   NaN    NaN
2    NaN       NaN     NaN   NaN    NaN
3    NaN       NaN     NaN   NaN    NaN
4    NaN       NaN     NaN   NaN    NaN
5    NaN       NaN     NaN   NaN    NaN
6    NaN       NaN     NaN   NaN    NaN
7    NaN       NaN     NaN   NaN    NaN
8    NaN       NaN     NaN   NaN    NaN
9    NaN       NaN     NaN   NaN    NaN
10   NaN       NaN     NaN   NaN    NaN
11   NaN       NaN     NaN   NaN    NaN
12   NaN       NaN     NaN   NaN    NaN
13   NaN       NaN     NaN   NaN    NaN
14   NaN       NaN     NaN   NaN    NaN
15   NaN       NaN     NaN   NaN    NaN
16   NaN       NaN     NaN   NaN    NaN
17   NaN       NaN     NaN   NaN    NaN
18   NaN       NaN     NaN   NaN    NaN
19   NaN       NaN     NaN   NaN    NaN
20   NaN       NaN     NaN   NaN    NaN
21   NaN       NaN     NaN   NaN    NaN
22   NaN       NaN     NaN   NaN    NaN
23   NaN       NaN     NaN   NaN    NaN
24   NaN       NaN     NaN   NaN    NaN
25   NaN       NaN     NaN   NaN    NaN
26   NaN       NaN     NaN   NaN    NaN
27   NaN       NaN     NaN   NaN    NaN
28   NaN       NaN     NaN   NaN    NaN
29   NaN       NaN     NaN   NaN    NaN
30   NaN       NaN     NaN   NaN    NaN
31   NaN       NaN     NaN   NaN    NaN
32   NaN       NaN     NaN   NaN    NaN
33   NaN       NaN     NaN   NaN    NaN
34   NaN       NaN     NaN   NaN    NaN
35   NaN       NaN     NaN   NaN    NaN
36   NaN       NaN     NaN   NaN    NaN
37   NaN       NaN     NaN   NaN    NaN
38   NaN       NaN     NaN   NaN    NaN
39   NaN       NaN     NaN   NaN    NaN
40   NaN       NaN     NaN   NaN    NaN
41   NaN       NaN     NaN   NaN    NaN
42   NaN       NaN     NaN   NaN    NaN
43   NaN       NaN     NaN   NaN    NaN
44   NaN       NaN     NaN   NaN    NaN
45   NaN       NaN     NaN   NaN    NaN
46   NaN       NaN     NaN   NaN    NaN
47   NaN       NaN     NaN   NaN    NaN
48   NaN       NaN     NaN   NaN    NaN
49   NaN       NaN     NaN   NaN    NaN
50   NaN       NaN     NaN   NaN    NaN

In [9]:
df_existing

   State     Total   2018 GDP
0     AL   8155523   221126.3
1     AK   2539488    54011.2
2     AZ   8656253   346791.9
3     AR   5625843   128081.7
4     CA  91054455  2968117.6
5     CO  11561312   368795.1
6     CT  10851095   274179.5
7     DE   2098148    74973.3
8     FL  29838546  1036323.2
9     GA  20988208   588171.7
10    HI   3070859    92027.1
11    ID   2410373    77004.2
12    IL  35033057   864587.3
13    IN  11836660   366706.7
14    IA   6958710   190150.3
15    KS   6907549   167041.9
16    KY   8580534   208339.9
17    LA   8079072   252117.3
18    ME   2877061    64350.7
19    MD  14920717   412920.9
20    MA  17889700   567254.8
21    MI  18975838   528008.4
22    MN  13875489   368317.1
23    MS   4773606   114107.0
24    MO  10864199   317749.3
25    MT   2048275    48970.0
26    NE   4684483   122966.2
27    NV   5045173   165803.4
28    NH   3125315    84711.8
29    NJ  30480796   624851.9
30    NM   3636084    99434.5
31    NY  73368427  1676350.2
32    NC  15153240   565800.8
33    ND   1841875    54714.2
34    OH  24805833   676192.5
35    OK   6267595   199975.8
36    OR   8661035   238683.8
37    PA  31531702   788537.8
38    RI   2501593    61020.9
39    SC  10027593   230354.0
40    SD   1655222    51581.1
41    TN  10811478   365601.8
42    TX  65202332  1775796.5
43    UT   5556089   177336.2
44    VT   1570861    33725.3
45    VA  17367248   534448.8
46    WA  18042261   563150.5
47    WV   3345139    77477.1
48    WI  12465177   336971.5
49    WY   1727633    39371.1

In [32]:
file = open('/Users/macuser/Documents/Projects/Programming/eduworld/eduworld/src/data/states_gdp_total.csv','w')
file.write(df_existing.to_csv())
file.close()