In [2]:
import numpy as np
import pandas as pd

In [3]:
# data types, indexing, axis labeling, alignment

In [4]:
data = [1, 2]
index = ['a', 'b']
s = pd.Series(data, index=index) # from ndarray
s

a    1
b    2
dtype: int64

In [5]:
s.index

Index(['a', 'b'], dtype='object')

In [6]:
s2 = pd.Series(np.random.randn(5)) # without index
s2

0   -0.755058
1   -1.267126
2   -0.768440
3    1.421050
4   -0.315648
dtype: float64

In [7]:
d = {'b': 1, 'a': 0, 'c': 2} # from dict
pd.Series(d) # pass no index, uses dict keys in insertion order OR lexical order for older pandas / python versions

b    1
a    0
c    2
dtype: int64

In [8]:
pd.Series(d, index=['a', 'b', 'c', 'd'])

a    0.0
b    1.0
c    2.0
d    NaN
dtype: float64

In [9]:
data = 0
s3 = pd.Series(0, index=[1, 2, 3, 4, 5, 6, 7]) # scalar data
s3

1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

In [10]:
s2.dtype

dtype('float64')

In [11]:
s3.dtype

dtype('int64')

In [12]:
# numpy dtype extended in pandas by ExtensionDtype
# ex Categorical data and Nullable integer data type

In [13]:
s2.array, '\n', s.array

(<PandasArray>
 [-0.7550582202168604, -1.2671257413438173, -0.7684401900599626,
   1.4210498155029467, -0.3156479582999614]
 Length: 5, dtype: float64,
 '\n',
 <PandasArray>
 [1, 2]
 Length: 2, dtype: int64)

In [15]:
s2.to_numpy()

array([-0.75505822, -1.26712574, -0.76844019,  1.42104982, -0.31564796])

In [21]:
s3['3'] = 3
s3[3] = '3'
s3.dtype

dtype('int64')

In [25]:
s = pd.Series(data=[1, 2, 1, 2], index=['a', 'b', 'c', 'd'])
s

a    1
b    2
c    1
d    2
dtype: int64

In [27]:
s['b'] = 4
s

a    1
b    4
c    1
d    2
dtype: int64

In [28]:
4 in s

False

In [29]:
2 in s

False

In [31]:
'b' in s # checks key, not value

True

In [36]:
s.get('e') # does not throw KeyError like s['e']

In [37]:
s.get('e', 'default_none')

'default_none'

In [38]:
s + s

a    2
b    8
c    2
d    4
dtype: int64

In [39]:
s + s + s

a     3
b    12
c     3
d     6
dtype: int64

In [40]:
s * 2

a    2
b    8
c    2
d    4
dtype: int64

In [41]:
s**4

a      1
b    256
c      1
d     16
dtype: int64

In [42]:
np.exp(s) # np.e**x

a     2.718282
b    54.598150
c     2.718282
d     7.389056
dtype: float64

In [47]:
np.log(4)

1.3862943611198906

In [48]:
np.e**4

54.59815003314423